<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/static/chat.css">
    <title>Чат</title>
</head>
<body>
<div class="chat_block">
    <div id="user1-chat" class="chat">
        <form id="user1-form">
            <h2>User 1</h2>
            <input type="text" id="user1-message" placeholder="Введіть повідомлення">
            <button type="submit">Відправити</button>
        </form>
    </div>
    <div class="messages" id="messages">

    </div>
    <div id="user2-chat" class="chat">
        <form id="user2-form">
            <h2>User 2</h2>
            <input type="text" id="user2-message" placeholder="Введіть повідомлення">
            <button type="submit">Відправити</button>
        </form>
    </div>
</div>


<script src="/resources/js/chat.js"></script>
</body>
</html>