<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/static/transliteration.css">
  <title>Транслітерація</title>
</head>

<body>
<label for="inputField">Введіть текст:</label>
<textarea id="inputField" rows="4" cols="50" oninput="transliterate()"> </textarea>

<label for="outputField">Транслітерація:</label>
<textarea id="outputField" rows="4" cols="50" readonly></textarea>
</body>

<script src="/resources/js/transliteration.js"></script>
</html>
